<h2 class="text-center"><a href="/">Chefs</a> | <a href="/dishes">Dishes</a> | <a href="/chefs/new">Add a Chef</a> | <span >Add a Dish</span></h2>
<h2 class="text-center">No chefs yet! add a chef before you can add a dish!</h2>