@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<h1>Welcome to CRUDelicious</h1>
<h4><span> Home </span> | <a href="/create"> Add a Dish </span></h4>

@foreach (var dish in Model)
{
    <h4><a asp-controller="Home" asp-route-dishID="@dish.DishId" asp-action="GetOneDish">@dish.Name</a> by @dish.Chef</h4>    
}