@model LoginUser

<form asp-action="Login" asp-controller="Users" method="post">
    
    <div class = "d-flex spacing">
        <label asp-for="LoginEmail"></label>
        <span asp-validation-for="LoginEmail" style="color:red"></span> 
        <input asp-for="LoginEmail">
        
    </div>
    <div class = "d-flex spacing">
        <label asp-for="LoginPassword"></label>
        <span asp-validation-for="LoginPassword" style="color:red"></span> 
        <input asp-for="LoginPassword">
        
    </div>
    
    <button type="submit" class="btn btn-primary"> Login </button>
</form>