@model User

<form asp-action="Register" asp-controller="Users" method="post">
    <div class = "d-flex spacing">
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName" style="color:red"></span> 
        <input asp-for="FirstName">
        
    </div>
    <div class = "d-flex spacing">
        <label asp-for="LastName"></label>
        <span asp-validation-for="LastName" style="color:red"></span> 
        <input asp-for="LastName">
        
    </div>
    <div class = "d-flex spacing">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" style="color:red"></span> 
        <input asp-for="Email">
        
    </div>
    <div class = "d-flex spacing">
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" style="color:red"></span> 
        <input asp-for="Password">
        
    </div>
    <div class = "d-flex spacing">
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" style="color:red"></span> 
        <input asp-for="ConfirmPassword">
        
    </div>
    
    <button type="submit" class="btn btn-success"> Register </button>
</form>