<link rel="stylesheet" href="~/css/styles.css">

<form action="result" method="post">
    <div class = "d-flex spacing">
        <div>Your Name: </div>
        <input type="text" name="Name"/>
    </div>
    <div class = "d-flex spacing">
        <div>Dojo Location: </div>
        <select name="Location">
            <option value="Burbank">Burbank</option>
            <option value="San Jose">San Jose</option>
            <option value="Chicago">Chicago</option>
            <option value="New York">New York</option>
        </select>
    </div>
    <div class = "d-flex spacing">
        <div>Favorite Language: </div>
        <select name="Language">
            <option>C#</option>
            <option>JavaScript</option>
            <option>Java</option>
            <option>Python</option>
        </select>
    </div>
    <div class = "spacing">
        <div>Comment (optional): </div>
        <textarea name = "Comment" rows="5" cols="30"></textarea>
    </div>
    <button type="submit" class="btn"> Submit </button>
</form>