@* @{
    ViewData["Title"] = "Home Page";
} *@

<div class="text-center">
    <a href="numbers">numbers</a> |
    <a href="users">users</a> |
    <a href="user">user</a> 
    <h1 class="display-4">Welcome</h1>
    <form action="Message" method ="post">
        <label>Type a message: </label>
        <textarea rows="3" cols="20" name="message"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
