<link rel="stylesheet" href="~/css/styles.css">

<div class="header">
    <a href="/">Home | </a>
    <a href="/projects">Projects | </a>
    <span>Contact</span>
</div>

<h1 class="center">Contact Me!</h1>
<div class="msg-form">
    <div class="project">
        <label>Name: </label>
        <input type = "text"/>
    </div>
    <div class="project">
        <label>Email: </label>
        <input type = "text"/>
    </div>
    <div class="project">
        <label class="msg">Message: </label>
        <textarea rows="4" cols="30"></textarea>
    </div>
    <button class="btn">send</button>
</div>