<link rel="stylesheet" href="~/css/styles.css">

<div class="header">
    <span>Home | </span>
    <a href="/projects">Projects | </a>
    <a href="/contact">Contact</a>
</div>

<h1 class="center">About Me</h1>
<div class = "data d-flex">
    <div class = "left-side-index">
        <img class = "img-size" src="https://play-lh.googleusercontent.com/55DU-kESi24fIFIqxIx__hD5_BM85ncNZKtK_iN9GRK0aVhZf6-PXp1XxVJZBvzQn_Y=w526-h296-rw" alt="profile pic"/>
        <h3>Devin Spaulding </h3>
        <p>I love to code!</p>
    </div>
    <div class = "right-side-index">
        <p>I'm a budding web developer that loves to build and create all kinds of things weather working with my hands or coding i love it all!</p>
    </div>
</div>
