<link rel="stylesheet" href="~/css/styles.css">

<div class="header">
    <a href="/">Home | </a>
    <span>Projects | </span>
    <a href="/contact">Contact</a>
</div>

<h1 class="center">My Projects</h1>

<div class="project_container">
    <div class="project d-flex border">
        <img class = "img-size" src="https://play-lh.googleusercontent.com/55DU-kESi24fIFIqxIx__hD5_BM85ncNZKtK_iN9GRK0aVhZf6-PXp1XxVJZBvzQn_Y=w526-h296-rw" alt="project 1"/>
        <div>
            <h3> Project 1 </h3>
            <p> this is a description of the stuff i did on project 1 </p>
        </div>
    </div>
    <div class="project d-flex border">
        <img class = "img-size" src="https://play-lh.googleusercontent.com/55DU-kESi24fIFIqxIx__hD5_BM85ncNZKtK_iN9GRK0aVhZf6-PXp1XxVJZBvzQn_Y=w526-h296-rw" alt="project 2"/>
        <div>
            <h3> Project 2 </h3>
            <p> this is a description of the stuff i did on project 2 </p>
        </div>
    </div>
    <div class="project d-flex border">
        <img class = "img-size" src="https://play-lh.googleusercontent.com/55DU-kESi24fIFIqxIx__hD5_BM85ncNZKtK_iN9GRK0aVhZf6-PXp1XxVJZBvzQn_Y=w526-h296-rw" alt="project 3"/>
        <div>
            <h3> Project 3 </h3>
            <p> this is a description of the stuff i did on project 3 </p>
        </div>
    </div>

</div>
