@model Pledge
@{ 
    int? uid = Context.Session.GetInt32("UUID");
}
<form asp-controller="Projects" asp-action="Pledge">
        <h4>Support this Project!</h4>
        <label asp-for="PledgeAmt"></label>
        <span asp-validation-for="PledgeAmt" style="color:red"></span> 
        <input asp-for="PledgeAmt">
        <input type="hidden" name="ProjectId" value="@ViewBag.projId">
        <button>Support!</button>
</form>