<link rel="stylesheet" href="~/css/styles.css">

<div class="results-box">
    <h2>Submitted Info:</h2>
    <div class="d-flex row spacing">
        <div>Name: </div>
        <div>@ViewBag.Name </div>
    </div>
    <div class="d-flex row spacing">
        <div>Dojo Location: </div>
        <div>@ViewBag.Location </div>
    </div>
    <div class="d-flex row spacing">
        <div>Favorite Language: </div>
        <div>@ViewBag.Language </div>
    </div>
    <div class = "spacing">
        <div>Comments: </div>
        <div>@ViewBag.Message </div>
    </div>
</div>